.specification{
    padding: 10px 10px 10px 10px;
}

.btn{
    background-color: rgb(10, 50, 198);
    border-radius: 25px;
    width: 50%;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s;
}


.btn:hover {
    background-color:rgb(8, 38, 149); 
    border-color: rgb(8, 38, 149);
}

@media screen and (min-width: 841px){   
    h1{
        font-size: 45px;
        
    }   
    
}

@media screen and (max-width: 840px){   
    h1{
        font-size: 35px;
    }   
    .title{
        margin-left:auto;
    }
}

@media screen and (max-width: 510px){
    h1{
        font-size: 35px;
    } 
    .title{
        margin-left:auto;
    }  
}


