.specification{
    padding: 10px 10px 10px 10px;
}

@media screen and (min-width: 841px){   
    h1{
        font-size: 45px;
        
    }   
    
}

@media screen and (max-width: 840px){   
    h1{
        font-size: 35px;
    }   
    .title{
        margin-left:auto;
    }
}

@media screen and (max-width: 510px){
    h1{
        font-size: 35px;
    } 
    .title{
        margin-left:auto;
    }  
}


