.car-icon{
    --sds-c-icon-color-foreground-default: rgb(139, 21, 3);
    
}

.red{
    height: 165px;
    width: 50%;
    margin-top: -5%;
    margin-left: 40%;
 
    
}
.container{
    position: relative;
}



.inn{
    position: absolute;
    top: 15%;
    left: 45%;

}

.txt{
    position: absolute;
    top: 40%;
    left: 45%;
}

.media{
    width: 40%;
}