.car-icon{
    --sds-c-icon-color-foreground-default: rgb(72, 12, 150);
    
}

.red{
    height: 165px;
    width: 50%;
    margin-top: -5%;
    margin-left: 40%;
 
    
}
.container{
    position: relative;
}



.inn{
    position: absolute;
    top: 35%;
    left: 50%;

}

.txt{
    position: absolute;
    top: 66%;
    left: 50%;
}

.media{
    width: 60%;
}