.car-icon {
    --sds-c-icon-color-foreground-default: rgb(150, 12, 12);
    margin-top: 25%;
    margin-left: 35%;
    margin-right: 5px;
    
}

.red{
    position: absolute;;
    left:15%;
    top:-5%;
    width: 50%;
    height: 43%;
    z-index: 0;
}