.car-icon{
    --sds-c-icon-color-foreground-default: rgb(139, 21, 3);
    
}
a{
    text-decoration:none;
    color: white;
}

.red{
    height: 165px;
    width: 40%;
    margin-top: -5%;
    margin-left: 20%;
 
    
}
.container{
    position: relative;
}

.boldTxt{
    font-weight: bold;
}

.inn{
    position: absolute;
    top: 35%;
    left: 50%;
}


.txt{
    position: absolute;
    top: 55%;
    left: 50%;
    font-weight: bold;
}

.media{
    width: 40%;
}